@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
body {
  text-align: center;
  padding: 2%;
  font: 30px;
  font-family: 'Cabin', Arial, sans-serif;
  background-color: #2ee7ff;
}

a {
  color: #00B7FF;
}

p {
  color: #9BA4B5;
  margin: 40px;
  text-align: center;
}

h1{
  font-family: 'Lobster', cursive;
  color: black;
}

legend{
  font-family: 'Lobster', cursive;
}

p:hover
{
  color: black;
}