extends layout

block content
  h1= title
  //p Welcome to my webpage
  .row.banner
    .col-12
      h1 loc8r 
        small &nbsp;Find places to work with wifi near you! 
  .row 
    .col-12.col-md-8 
      .card 
        .card-block   
          h4 
            a(href="/location") Starcups 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-end 100m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities  
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
    .col-12.col-md-4 
      p1.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about.
          perhaps with coffee, cake or a pint?
          Let Loc8r help find the place you're looking for.

  .row
    .col-12.col-md-8 
      .card 
        .card-block 
          h4 
            a(href="/location") Cafe Hero 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star 
              i.far.fa-star 
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-end 200m
          p.address 125 High Street Reading, RG1PS  
          p.facilities  
            span.badge.badge-warning Cold Drinks 
            span.badge.badge-warning Fresh Food 
            span.badge.badge-warning Free Wifi 
    .col-12.col-md-4

  .row
   .col-12.col-md-8
    .card 
      .card-block 
        h4 
          a(href="/location")  Burger Queen 
          small &nbsp;
            i.fas.fa-star            
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          span.badge.badge-pill.badge-default.float-end  500m
        p.address 125 High Street Reading, RG6 1PS
        p.facilities 
          span.badge.badge-warning  Cold Drinks
          span.badge.badge-warning  Suit Rooms
          span.badge.badge-warning  Wifi for Free
    .col-12.col-md-4